* {
  margin: 1px;
  padding: 1px;
}

body {
  background-image: url(../assets/imágenes/bkg2.png);
}

main {
  display: grid;
  height: 100vh;
  width: 100%;
  gap: 1% 1%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header aside"
    "alumnos alumnos aside"
    "alumnos alumnos aside";
}

header {
  grid-area: header;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

#sede {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Stick No Bills', sans-serif;
  text-shadow: 15px 15px 3px rgba(3, 3, 3, 0.8); 
  font-size: 7vh;
  padding: 10px;
}

h2{
 /* font-family: 'Stick No Bills', sans-serif;*/
  color: rgb(255, 255, 255);
}
#portada {
  padding: 10px;
  width: 30%;
}

#botones {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: rgb(36, 36, 36);
  margin: 10px;
}

#button-addon2 {
  background-color: rgb(36, 36, 36);
  margin: 0px;
}

#marcoImagen {
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat; 
}

#lock {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

#logoLoc{
  border-radius: 225px;
  background-color: transparent;
}

img {
  border-radius: 225px;
}

.responsive {
  width: 100%;
  max-width: 300px;
  height: auto;
}

aside {
  grid-area: aside;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  color: #fff;
}

#pieGraph {
  width: 100%;
  height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#datos {
  overflow: auto;
  white-space: nowrap;
}

#busqueda {
  position: sticky;
}

#alumnos {
  grid-area: alumnos;
  background-color: transparent;
  border-radius: 10px;
  overflow: auto;
  white-space: nowrap;
  margin: 2px;
}

#nombres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#card {
  color: #fff;
}

iframe {
  width: 100%;
  height: 90%;
  border-radius: 15px;
}

footer{
  grid-area: aside;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

a{
  font-size:5vh;
}

@media only screen and (max-width: 620px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr;
    grid-template-areas:
      "header"
      "aside"
      "alumnos";
    height: auto;
    gap: 0.2% 0.2%;
  }

  header {
    flex-direction: column;
  }

  #marcoImagen {
    width: 100%;
  }

  #portada {
    border: solid white .2px;
    width: 100%;
  }

  #lock {
    width: 100%;
  }
}
