* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body{
    background-image: url(../assets/imágenes/bkg2.png);
  }

  main{
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 1% 1%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: Document 1fr 1fr 1fr;
    grid-template-areas:
     "header header header "
     "contTitle contTitle contTitle"
     "ajusco izta chapul";
  }
  
  header {
    display: flex;
    
    align-items: center;
    flex-direction: column;
    height: 50vh;
    flex-direction: column;
    grid-area: header;
  }

  img{
    display: flex;
    margin: 40px;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    border-radius: 225px;
    box-shadow:  1px 1px 99px 5px  rgba(8, 216, 39, 0.60);
  }

  #contTitle {
    grid-area: contTitle;
    margin: 20px;
    padding: 30px;
  }

  #ajusco {
    grid-area: ajusco;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px 40px 340px;
    
    border-radius: 225px;
  }

  #izta {
    grid-area: izta;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px;
    border-radius: 225px;
  }

  #chapul {
    grid-area: chapul; 
    display: flex;
    flex-direction: column;
    padding: 10px 340px 40px 40px;
    align-items: center;
    border-radius: 225px; 
  }

  #sAju{
    border-radius: 225px;
    box-shadow:  1px 1px 99px 30px rgb(209 65 154); 
    }
    #sIzt{
      border-radius: 225px;
      box-shadow:  1px 1px 99px 38px rgb(72 124 227);;
    }  
    #sCha {
      border-radius: 225px;
      box-shadow:  1px 1px 99px 30px rgb(186 205 78);;
    }

  h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    text-shadow: 5px 10px 5px rgba(3, 3, 3, 0.6)
    
  }

  h2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 1.6em;
    
  }

  @media only screen and (max-width: 550px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: Document 1fr 1fr 1fr;
      grid-template-areas:
        "header heder"
        "contTitle contTitle"
        "ajusco ajusco"
        "izta izta" 
        "chapul chapul";
        
    }
    
    img {
        height: 35vh;
        margin: 10px;
        border-radius: 225px;
      }

      #ajusco, #izta, #chapul {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 225px; 
        
        padding: 3px;
      } 

      #contTitle{
        margin: 1px;
        padding: 1px;
      }

    input{
        height: 15vh;
    }  

    header {
        
        height: 38vh; 
    }

    h1{
        font-size: 5vh; 

    }

    h2{
      font-size: 4vh;
    }

  }